#container-banner-background {
    width: 100%;
    height: 460px;
    background: white;
}

#coming-soon {
    text-align: center;
    width: 100%;
    z-index: 10;
}

h1#title-inmortis {
    width: fit-content;
    position: absolute;
    margin-left: -65px;
    padding-top: 106px;
    left: 50%;
    top: 110px;
}

#image-logo-inmortis {
    width: auto;
    height: 120px;
}

#gif-logo {
    top: 62px;
    left: 50%;
    margin-left: -250px;
    position: absolute;
    width: 500px;
}

#hand-gif {
    left: 50%;
    margin-left: -17.5vh;
    position: absolute;
    width: 35vh;
    bottom: 0;
}

#coming-soon {
    width: auto;
    height: 75px;
}

#logo-twitter {
    width: auto;
    height: 100px;
    padding-top: 80px;
}

#container-gif {
    z-index: 1;
}

#weird-stuff {
    width: 100%;
    bottom: 0;
    position: absolute;
    pointer-events: none;
}

@media (max-width: 600px) {
    #gif-logo {
        top: 76px;
        left: 50%;
        margin-left: -150px;
        position: absolute;
        width: 300px;
    }
    h1#title-inmortis {
        width: fit-content;
        position: absolute;
        margin-left: -43px;
        padding-top: 66px;
        left: 50%;
        margin-top: 0px;
    }
    #image-logo-inmortis {
        width: auto;
        height: 74px;
    }
    #container-banner-background {
        height: 290px;
    }
    #hand-gif {
        margin-top: 0px;
        width: 40vh;
        margin-left: -20vh;
        bottom: 0px;
    }
    #coming-soon {
        height: 40px;
    }
}