#container-banner-background {
    width: 100%;
    height: 460px;
    background: white;
}

#coming-soon {
    text-align: center;
    width: 100%;
    z-index: 10;
}

h1#title-inmortis {
    width: fit-content;
    position: absolute;
    margin-left: -65px;
    padding-top: 106px;
    left: 50%;
    top: 0px;
}

#image-logo-inmortis {
    width: auto;
    height: 120px;
}

#gif-logo {
    top: -48px;
    left: 50%;
    margin-left: -250px;
    position: absolute;
    width: 500px;
}

#hand-gif{
    left: 50%;
    margin-left: -192px;
    position: absolute;
    width: 400px;
    margin-top: 30px;
}

#coming-soon {
    width: auto;
    height: 75px;
}

#logo-twitter {
    width: auto;
    height: 100px;
    padding-top: 80px;
}

#container-gif {
    text-align: center;
    z-index: 1;
}

@media (max-width: 600px) {
    #gif-logo {
        top: -36px;
        left: 50%;
        margin-left: -150px;
        position: absolute;
        width: 300px;
    }
    h1#title-inmortis {
        width: fit-content;
        position: absolute;
        margin-left: -43px;
        padding-top: 66px;
        left: 50%;
        margin-top: 0px;
    }
    #image-logo-inmortis {
        width: auto;
        height: 74px;
    }
    #container-banner-background {
        height: 290px;
    }
    #hand-gif {
        margin-top: 0px; 
        width: 275px;
        margin-left: -119.5px;
        bottom: 0px;
    }
    #coming-soon {
        height: 40px;
    }
}